/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Custom Styles */

.container{
    margin: 0 auto;
    max-width: 1300px;
    padding: 1rem 2rem;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}

.header{
    text-align: center;
    font-size: 2.4rem;
    color: #cfca33;
    background-color: #377e80;
    padding: 3rem 0;
}
ul{
    display: flex;
    flex-wrap: wrap;
}
li{
    flex: 0 1 27%;
    background-color: #fff;
    text-align: center;
    padding: 1.5rem 1rem;
    margin: 1rem 1.2rem;
}
img{
    width: 70%;
    text-align: center;
}
h2{
    font-size: 1.4rem;
    font-weight: 600;
    color: black;
    padding: 1rem 0;
}
p,span{
    margin-bottom: 1rem;
    color: #9c9999;
}
button{
    padding: 0.6rem 1.6rem;
    border-radius: 8px;
    color: #fff;
    background-color: #387d81;
    border: 0;
    font-size: 1rem;
}
button:hover{
    cursor: col-resize;
    color: rgb(0, 30, 128);
    background-color: #cfca33;
}

.list{
    margin-bottom: 1rem;
    /* border: 10px solid red; */
}